html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-image: url(../src/images/Menus/mw2-home-spec-ops.jpg);
  background-size: cover;
}

.container {
  border-radius: 4px;
  text-align: center;
  width: 1000px;
  height: 400px;
}

canvas {
  display: none;
}

.start-btn, .return-menu{
  border: none;
  background-color: transparent;
}

.start-btn:hover img, .return-menu:hover img {
  -webkit-transform:scale(1.3);transform:scale(1.3);
  cursor: pointer;
}

#menu {
  display: block;
  height: 300px;
  text-align: center;
  background-image: url(../src/images/Menus/Menu.jpg);
  background-size:cover;
  background-repeat:no-repeat;	
  width: 1000px;
  height: 400px;
}

#menu button {
  margin-top: 110px;
  height: 150px;
  width: 500px;
}

#win-menu {
  display: none;
  background-image: url(../src/images/Menus/menu-win.jpg);
  background-size:cover;
  background-repeat:no-repeat;	
  width: 1000px;
  height: 400px;
}

#score {
  margin: 0px;
  color: red;
  font-size: 40px;
  font-family: fantasy;
  padding-top: 150px;
  text-shadow: 0.1em -0.1em #333;
}

#win-menu-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

#win-menu-buttons button {
  margin: 0 70px;
}

#win-menu-buttons button img {
  width: 200px;
}

#game-over-menu {
  display: none;
  background-image: url(../src/images/Menus/Game-over.png);
  background-size: 1000px 400px;
  background-repeat:no-repeat;	
  width: 1000px;
  height: 400px;
}

#game-over-menu button img{
  width: 250px;
}

#game-over-menu button {
  margin: 140px 40px 0;
}